IMAGE_NAME=ghcr.io/tangerinespecter/o-doc:latest
CONTAINER_NAME=o-doc
HOST_PORT=11800

DJANGO_DEBUG=false
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=*

ADMIN_EMAIL=admin@example.com

POSTGRES_CONTAINER_NAME=o-doc-postgres
POSTGRES_DB=odoc
POSTGRES_USER=odoc
POSTGRES_PASSWORD=change-me
POSTGRES_BIND_ADDRESS=0.0.0.0
POSTGRES_HOST_PORT=5432
